body {
    width: 100%;
    height: 100%;
    background-color: gray;
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    margin: 0px;
}

header {
    display: flex;

    justify-content: space-evenly;
    padding: 15px;
    background-color: gray;
    align-items: center;
    border-bottom: aliceblue solid 0.6px;

}




.menu {
    display: flex;
    justify-content: space-evenly;

}

.menu a:hover {
    color: black;
}

.menu_item {
    padding: 10px 40px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
}

.menu_imagem {
    height: 60px;
}


.redes_sociais {
    display: flex;
    flex-direction: row;
}

.social {
    height: 45px;
    margin: 0px 12px;
}


main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: gray;
    margin: 20px 60px 100px 60px;
}

.texto_principal {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 100px;
}

.imagem_principal {
    height: 500px;
}

footer {
    background-image: url(imgs/textura.jpg);
    height: 40px;
    width: 100%;
}



.experiencias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
}

.experiencia {

    font-size: 15px;
    margin: 20px 45px 20px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia_img {

    height: 60px;
}




.historia {
    margin: 45px;
    display: flex;
    flex-direction: column;
}

.historia_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
}

.historia_texto {
    font-size: 16px;
    text-align: center;
    margin: 45px;
}

.historia_imgs {
    align-items: center;
    display: flex;
    margin: 0px 80px;
    flex-direction: row;
}

.historia_img {
    width: 200px;
    margin: 45px;
}



.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 45px 100px;
}


.projetos_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
    text-align: center;
}

.projetos_arquivo {
    width: 120px;
    margin: 60px;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.projetos_descricao {
    font-size: 18px;
    color: aliceblue;
    text-decoration: underline;
    padding: 22px;
}



.contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}

.contato_email {
    margin-top: 45px;
}

.contato_link {
    margin-top: 45px;
    text-decoration: underline;
    color: aliceblue;
}

.contato_wpp {
    margin: 45px 0px 20px 0px;

}

.contato_qrcode {
    margin-bottom: 45px;
}