body {
    width: 100%;
    height: 100%;
    background-color: gray;
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    margin: 0px;
}


/*Àrea de edição do "Cabeçalho"*/
header {
    width: 100%;
    display: flex;
    box-shadow: 0px 5px 20px #000;
    justify-content: space-around;
    padding: 15px 0px;
    background-color: #101010;
    align-items: center;
    border-bottom: aliceblue solid 0.6px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
}

.menu a:hover {
    color: white;
    background-color: #333;
    border-radius: 10px;
}

.menu_item {

    margin: 1% 1%;
    padding: 3px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
}

.menu_imagem {
    height: 40px;
    padding-left: 10px;
}


.redes_sociais {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.social {
    height: 30px;
    margin-right: 10px;
}

/*Àrea de edição do compo "Principal"*/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 1200px;
    background-color: gray;
    margin: 45px 0px;

}

.texto_principal {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    width: 25%;
    margin: 5%;

}

.imagem_principal {
    height: 50%;
    width: 65%;
    display: flex;
    flex: 1 1 300px;
    justify-content: space-around;
}

.imagem_principal_img {
    width: 70%
}




/*Àrea de edição do compo de "Expêriencias"*/
.experiencias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
}

.experiencia {

    font-size: 15px;
    margin: 20px 45px 20px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia_img {

    height: 60px;
}



/*Àrea de edição do compo "História"*/
.historia {
    margin: 45px;
    display: flex;
    flex-direction: column;
}

.historia_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
}

.historia_texto {
    font-size: 16px;
    text-align: center;
    margin: 1%;
}

.historia_imgs {
    align-items: baseline;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.historia_img {
    width: 10%;
    padding: 20px;
    max-width: 150px;
    flex: 1 1 100;
}


/*Àrea de edição do compo "Projetos"*/
.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 1 300px;
    margin: 0 auto;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 25%;
    margin: 2%;
}


.projetos_arquivo {
    width: 35%;

}

.projeto_link {
    width: 1%;
}

.projetos_descricao {
    font-size: 10px;
    color: aliceblue;
    text-decoration: underline;
    padding: 5%;
}


.projetos_titulo {
    font-size: 20px;
    padding-top: 45px;
    border-top: aliceblue solid 0.4px;
    text-align: center;
}



/*Àrea de edição do compo "Contato"*/
.contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}

.contato_email {
    margin: 45px;
}

.contato_link {
    margin-top: 45px;
    text-decoration: underline;
    color: aliceblue;
}

.contato_wpp {
    margin: 45px 0px 20px 0px;

}

.contato_qrcode {
    margin-bottom: 45px;
    border-radius: 10px;
}


/*Àrea de edição do compo Footer*/
footer {
    background-color: #101010;
    box-shadow: 5px 5px 20px 10px #000;
    height: 40px;
    width: 100%;
}